.mer{
    text-align:center;
  }
  .nae{
    text-align:center;
  }
  .muy{
    text-align:center;
  }
  .iou{
    margin-top:70px;
    margin-left:50px;
  }
  .ker{
    margin-left:150px;
  }
  .gfd{
    margin-left:200px;
  }
  .orp{
    margin-left:200px;
  }
  .hup{
    margin-left:200px;
  }
  .ern{
    margin-left:200px;
  }
  .tak{
     margin-left:150px;
  }
  .lar{
    margin-left:200px;
  }
  .myt{
    margin-left:200px;
  }
  .pop{
    margin-top:70px;
    margin-left:50px;
  }
  .jar{
    margin-left:150px;
  }
  .poi{
    margin-left:150px;
  }
  .qut{
    margin-left:150px;
  }
  .wet{
    margin-top:70px;
    margin-left:50px;
  }
  .dry{
    margin-left:150px;
  }
  .kal{
    margin-left:150px;
  }
  .bet{
    margin-top:70px;
    margin-left:50px;
  }
  .url{
    margin-left:150px;
    font-size:22px;
  }
  .emp{
    text-align:center;
  }
  